<launch>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="use_sim_time" default="true"/>

  <include file="$(find-pkg-share gazebo_ros)/launch/gazebo.launch.py">
    <arg name="world" value="worlds/mangalia.world"/>
    <arg name="pause" value="false"/>
    <arg name="use_sim_time" value="$(var use_sim_time)"/>
    <arg name="gui" value="$(var gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="true" />
    <!-- TODO Remove force_system in foxy, as it will be loaded by default -->
    <arg name="extra_gazebo_args" value="-s libgazebo_ros_force_system.so --ros-args -r __ns:=/gazebo"/>
  </include>

  <include file="$(find-pkg-share uuv_assistants)/launch/publish_world_ned_frame.launch"/>
  
  <node name="publish_world_models"
        pkg="uuv_assistants"
        exec="publish_world_models.py"
        output="screen">
        <param from="$(find-pkg-share uuv_gazebo_worlds)/config/mangalia.yaml"/>
        <param name="use_sim_time" value="$(var use_sim_time)"/>
  </node>
</launch>
