<launch>    
    <arg name="uuv_name" />
    <arg name="base_link" default="base_link"/>
        
    <arg name="output_dir" />

    <arg name="input_topic" default="control_allocation/control_input"/>

    <!-- Thruster configuration -->
    <arg name="thruster_topic_prefix" default="thrusters" />
    <arg name="thruster_topic_suffix" default="input" />
    <arg name="thruster_frame_base" default="thruster_" />
    <arg name="max_thrust" default="120"/>
    <arg name="thruster_conversion_fcn" default="proportional" />
    <!-- For proportional thruster model: gain * rotor_ang_vel * |rotor_ang_vel| -->
    <arg name="thruster_gain" default="0.0"/>
    <!-- For custom thruster model: interpolation of input to output -->
    <arg name="thruster_input" default="0,1,2,3"/>
    <arg name="thruster_output" default="0,1,2,3"/>

    <!-- Fin configuration -->
    <arg name="fin_frame_base" default="fin"/>
    <arg name="fluid_density" default="1028.0"/>
    <arg name="lift_coefficient" default="0.0"/>
    <arg name="fin_area" default="0.0"/>
    <arg name="fin_topic_prefix" default="fins"/>
    <arg name="fin_topic_suffix" default="input"/>
    <arg name="fin_lower_joint_limit" default="-1.57"/>
    <arg name="fin_upper_joint_limit" default="1.57"/>

    <arg name="timeout" default="-1"/>
    <arg name="update_rate" default="10"/>

    <group>
        <push-ros-namespace namespace="$(var uuv_name)"/>
        <node pkg="uuv_auv_control_allocator"
              exec="control_allocator"
              name="control_allocator"
              output="screen">
            <param name="output_dir" value="$(var output_dir)"/>
            <param name="base_link" value="$(var base_link)"/>
            <param name="thruster_config">
                <param name="topic_prefix" value="$(var thruster_topic_prefix)"/>
                <param name="topic_suffix" value="$(var thruster_topic_suffix)"/>
                <param name="frame_base" value="$(var thruster_frame_base)"/>
                <param name="max_thrust" value="$(var max_thrust)"/>
                <param name="conversion_fcn" value="$(var thruster_conversion_fcn)"/>
                <param name="conversion_fcn_params">
                    <param name="gain" value="$(var thruster_gain)"/>
                    <param name="input" value="[$(var thruster_input)]"/>
                    <param name="output" value="[$(var thruster_output)]"/>
                </param>
            </param>
            <param name="fin_config">
                <param name="frame_base" value="$(var fin_frame_base)"/>
                <param name="fluid_density" value="$(var fluid_density)"/>
                <param name="lift_coefficient" value="$(var lift_coefficient)"/>
                <param name="fin_area" value="$(var fin_area)"/>
                <param name="topic_prefix" value="$(var fin_topic_prefix)"/>
                <param name="topic_suffix" value="$(var fin_topic_suffix)  "/>
                <param name="lower_limit" value="$(var fin_lower_joint_limit)"/>
                <param name="upper_limit" value="$(var fin_upper_joint_limit)"/>
            </param>
            <param name="timeout" value="$(var timeout)"/>
            <param name="update_rate" value="$(var update_rate)"/>

            <remap from="control_input" to="$(var input_topic)"/>
        </node>
    </group>
</launch>
