<launch>
  <arg name="debug" default="0"/>

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="-20"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <arg name="mode" default="default"/>
  <arg name="namespace" default="rexrov"/>
  <arg name="use_ned_frame" default="false"/>
  <!-- <arg name="use_sim_time" default="true"/> -->

  <include file="$(find-pkg-share uuv_descriptions)/launch/upload_rexrov_$(var mode).launch.py">
    <arg name="debug" value="$(var debug)"/>
    <arg name="x" value="$(var x)"/>
    <arg name="y" value="$(var y)"/>
    <arg name="z" value="$(var z)"/>
    <arg name="roll" value="$(var roll)"/>
    <arg name="pitch" value="$(var pitch)"/>
    <arg name="yaw" value="$(var yaw)"/>
    <arg name="use_ned_frame" value="$(var use_ned_frame)"/>
    <arg name="namespace" value="$(var namespace)"/>
    <!-- <arg name="use_sim_time" value="$(var use_sim_time)"/> -->
  </include>

</launch>
