<launch>
  <arg name="model_name" />
  <arg name="uuv_name" default="$(var model_name)"/>
  <arg name="joy_id" default="0"/>

  <include file="$(find-pkg-share uuv_thruster_manager)/launch/thruster_manager.launch">
    <arg name="uuv_name" value="$(var uuv_name)" />
    <arg name="model_name" value="$(var model_name)" />
  </include>

  <group>
    <push-ros-namespace namespace="$(var uuv_name)"/>
    
    <node pkg="uuv_control_cascaded_pid" exec="acceleration_control.py" name="acceleration_control"
          output="screen">
      <!-- <param name="tf_prefix" type="string" value="$(var uuv_name)/" /> -->
      <param from="$(find-pkg-share uuv_control_cascaded_pid)/config/$(var model_name)/inertial.yaml"/>
    </node>
  </group>

  <include file="$(find-pkg-share uuv_teleop)/launch/uuv_teleop.launch">
    <arg name="uuv_name" value="$(var uuv_name)"/>
    <arg name="joy_id" value="$(var joy_id)"/>
    <arg name="output_topic" value="cmd_accel"/>
    <arg name="message_type" value="accel"/>
  </include>
</launch>
