<launch>
  <arg name="uuv_name" />
  <arg name="starting_time" default="0.0" />
  <arg name="thruster_id" default="0" />
  <arg name="efficiency" default="1.0"/>
  <arg name="duration" default="-1"/>

  <!-- name="$(eval 'set_thruster_output_efficiency_' + str(int($(var starting_time))) + '_thruster_' + str($(var thruster_id)))" -->
  <!-- FIXME node name is invalid in case starting_time is a float or negative -->
  <group>
    <push-ros-namespace namespace="$(var uuv_name)"/>
    <node pkg="uuv_control_utils"
      exec="set_thruster_output_efficiency.py"   
      name="set_thruster_output_efficiency_$(var starting_time)_thruster_$(var thruster_id)"
      output="screen">
      <param name="starting_time" value="$(var starting_time)"/>
      <param name="thruster_id" value="$(var thruster_id)"/>
      <param name="efficiency" value="$(var efficiency)"/>
      <param name="duration" value="$(var duration)"/>
    </node>
  </group>
</launch>
