<launch>
    <arg name="uuv_name" />
    <arg name="scale_footprint" default="10"/>
    <arg name="scale_label" default="10"/>
    <arg name="label_x_offset" default="60"/>
    <arg name="odom_topic" default="pose_gt"/>

    <group>
        <push-ros-namespace namespace="$(arg uuv_name)"/>
        <node name="publish_footprints"
              pkg="uuv_assistants"
              exec="publish_vehicle_footprint.py"
              output="screen">
              <remap from="odom" to="$(arg odom_topic)"/>
              <param name="scale_footprint" value="$(var scale_footprint)"/>
              <param name="scale_label" value="$(var scale_label)"/>
              <param name="label_x_offset" value="$(var label_x_offset)"/>
        </node>
    </group>
</launch>
