<launch>
  <arg name="use_sim_time" default="true"/>
  
  <node pkg="tf2_ros" exec="static_transform_publisher" name="world_ned_frame_publisher"
    args="0 0 0 1.5707963267948966 0 3.141592653589793 world world_ned" >
      <param name="use_sim_time" value="$(var use_sim_time)"/>
  </node>
</launch>

